header {
    width: 100%;
    height: 8.8rem;
    display: flex;
    align-items: center;
    background-color: var(--white);
}
header .container {
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

header nav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

header nav ul {
    display: flex;
    gap: 4rem;
}

header nav ul li a {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    transition: opacity 0.2s ease;
}

header nav ul li a:hover {
    opacity: 0.7;
}

.s-hero{
    background-color: var(--white);
}

.s-hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 29rem;
    padding-top: 19.4rem;
    padding-bottom: 19rem;
}

.s-hero .container .hero-content{
    display: block;
    align-items: start;
    gap: 3.2rem;
}
.s-hero .container .hero-content p {
    padding-bottom: 3.2rem;
}

.s-events  {
    background-color: var(--secondary-color);
}
.s-event .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.s-events .images-events {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    bottom: 4.0rem;
}

.s-events .images-events img {
    border: 0.2rem solid;
    border-radius: 3.2rem;
    border-color: var(--black);
}

.s-events .events-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.s-events .title-events {
    padding-top: 2.4rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.s-events .title-events p {
    margin-top: 2.4rem;
    max-width: 56rem;
}

.s-events .title-month-wrap {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.6rem;
    padding-top: 4rem;
    text-align: center;
}

.s-events .line-month{
    height: 0.2rem;
    background-color: var(--black);
    margin-top: 1.6rem;
    margin-bottom: 4rem;
}

.s-events .event-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10rem;
}
.s-events .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    padding-bottom: 6.0rem;
}

.s-events .card {
    padding: 5.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-radius: 3.2rem;
    border: 0.2rem solid;
    border-color: var(--black);
    text-align: center;
}

.s-events .card .big {
    font-family: 'Poppins', sans-serif;
    font-size: 12.8rem;
    font-weight: 700;
    color: var(--black);
}

.s-events .card p {
    color: var(--gray-200);
}

.s-menu {
    background-color: var(--white);
}

.s-menu .container {
    padding-top: 12.4rem;
    padding-bottom: 8rem;
}

.s-menu .top-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.s-menu .top-title p {
    max-width: 56rem;
    margin-top: 2.4rem;
}

.s-menu .content-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.s-menu .content-box {
    margin-top: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24rem;
    border: 0.2rem solid;
    border-radius: 6.4rem;
    border-color: var(--black);
    padding: 10.5rem 8.4rem;
    max-width: 107.8rem;
}

.s-menu .tag-box {
    border: 0.2rem solid;
    border-radius: 2.4rem;
    border-color: var(--black);
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    max-width: 14.4rem;
    margin-bottom: 2.4rem;
}
.s-menu .tag-box .tag {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--black);
    margin-left: 0.4rem;
}

.s-menu .p-tag{
    margin-bottom: 4.8rem;
    margin-top: 2.4rem;
}

.s-menu .tag-box img{
    margin-left: 0.4rem;
    max-width: 2.4rem;
}

.s-menu .text-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}


.s-contact .container{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: var(--primary-color);
}

.s-contact .info {
    padding-top: 10.9rem;
    padding-bottom: 10.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.8rem;
}

.s-contact .info a{
    color: var(--black);
    font-weight: 600;
    font-size: 1.6rem;
}

.s-contact .info p{
    color: var(--black);
    font-weight: 600;
    font-size: 1.6rem;
}

.s-contact .social {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-contact .puzzle img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 18rem;
}

.s-about {
    padding-top: 12.4rem;
    padding-bottom: 8rem;
    background-color: var(--white);
}

.s-about .about-wrapper {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    gap: 6.4rem;
}
.s-about .about-wrapper .image-about img{
    border: 0.2rem solid;
    border-radius: 6.4rem;
    border-color: var(--black);
    max-width: 100%;
}

.s-about .content-about {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8.6rem;
    max-width: 50%;
}
.s-about .content-about .content-top h1 {
    margin-bottom: 2.4rem;
}
.s-about .content-bottom .btn-primary{
    margin-top: 2.4rem;
}